body {
  margin: 0;
}

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.slideshow {
  flex: 1;
  background-color: #333;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
/*   background-repeat: no-repeat;
  background-size: contain;
  background-position: center center; */
  opacity: 0;
  transform: scale(1);
  transition: all 0.9s ease-out;
}
.slide:nth-last-child(2) {
  opacity: 1;
  transform: scale(1, 08);
}

.header {
  margin: 10px;
  padding: 5px;
  text-align: center;
}

.header select {
  font-size: 1.25rem;
  outline: none;
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
}
